<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="row">
        <div class="col-md-8">
            <article class="blog-post">
                <% blogs.map(blog => { %>  
                    <a href="/blog/<%=blog._id%>"><h2 class="blog-post-title"><%= blog.title %></h2></a>
                    <p class="blog-post-meta">January 1, 2014 by <a href="#">Admin</a></p>             
                    <p><%= blog.subtitle %></p>
                    <p><%= blog.text %></p>
                <% }); %>        
            </article>
        </div>
        <%- include('./partials/archives') %>
    </div>
    <%- include('./partials/footer') %>    
</body>
</html>

